<html>
	<head>
		<title>CodeCatz komplikator</title>
	</head>
	<body>
		<form name="vnos" action="/" method="post">
			<input type="radio" name="spol" value="male" />Male
			<br />
			<input type="radio" name="spol" value="female" checked="checked" />Female
			<br />
			<br />
			How old are you? 
			<br />
			<input type="text" name="age" />
			<br />
			<br />
			What is your relationship status?
			<br />
			<input type="text" name="status" />
			<br />
			<br />
			How old are you?
			<br />
			<input type="text" name="age" />
			<br />
			<br />


			<input type="submit" value="Calculate my my score!" />
		</form>
	</body>
</html>